fastapi>=0.110
uvicorn[standard]>=0.27
pydantic>=2.6
groq>=0.5.0
openai>=1.0.0
python-dotenv>=1.0.0
google-generativeai
pyyaml
dxcam
opencv-python
Pillow
faster-whisper
PyAudio
torch
torchaudio
sounddevice
PyQt6
numpy
python-multipart
pydantic-settings
chromadb
pynput
sentence-transformers
selenium>=4.31.0
markdown>=3.6
