# Ядро и API
fastapi
uvicorn
google-generativeai
pyyaml

# Захват экрана и обработка изображений
dxcam
opencv-python
Pillow

# Голос (STT и TTS)
faster-whisper
PyAudio
torch
torchaudio
sounddevice

# Интерфейс (Оверлей)
PyQt6

# Утилиты
numpy
python-multipart
pydantic-settings
python-dotenv
chromadb
pynput
sentence-transformers
